/*colors:
#ffde12;
#ff2f7c;
#bef600;
#00adbc;
#9639ad;
*/
body {
	background-color: rgb(34,34,34);
}

h1 {
	color: #bef600;
	font-size: 3em;
    margin-top:20px;
    margin-left: 20px;
    display: inline-block;
}

.container-fluid, 
#dataTable {
    margin-right: auto;
    margin-left: auto;
}

/*------ Heading Bar ------*/
#titleBar {
    background-color: black;
    height: 7em;
}

#titleBar h1 {
    color: #bef600;
    font-size: 3em;
}

#titleBar #topDescription p {
    color: white;
    text-align: right;
    font-size: 18px;
    padding-top: 3em;
    padding-right: 1em;
}

/*------ Legend Bar ------*/
#legend {
    color: #fff;
    background-color: grey;
    padding: 1em;   
}

#legend .color,
#legend .legend-key {
    display: inline-block;
}

#legend .color {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
    padding-right: 10px;
}

/*------ Time Line Bar ------*/
#timeline {
    color: #fff;
    padding-top: 10px;
    margin: 10px 0;
}

#timeline #inputLabel {
    font-size: 1.5em;
    text-align: right;
}

#yearChanger {
    padding-top: 5px;
}

#yearChanger #yearStart,
#yearChanger #yearEnd {
    font-size: 18px;
}

#yearStart {
    text-align: right;
}

/*------ Graphs ------*/
.graphs {
    margin-left: auto;
    margin-right: auto;
}

#map svg {   
    border: 1px solid white;
}

#map svg,
#lineGraph svg {
    height: 650px;
}

#map rect.background {
    fill: none;
}

#lineGraph {
    height: 650px;
    background-color: white;
    border-style: solid;
    border-color:white;
    border-width: .5px;
}
 #chart
{
    width:500px;
}

/*------ Table ------*/
#dataTable {
    margin-top: 3em;
    color:white;
    border-top: 1px solid white;
}

th {
    color:white;

} 

td { 
    background-color: black;
}


/*.hoverInfo {
    border: 1px solid white;
    background-color: #999999;
    padding: 5px 10px;
    font-size: 12px;
}

.hoverInfo span {
    color: #9639AD;
}*/
