/*colors:
#ffde12;
#ff2f7c;
#bef600;
#00adbc;
#9639ad;
*/
body {
	background-color: rgb(34,34,34);
}

#map {
	width: 1500px;
	height: 1000px;
	margin: 0 auto;
	position: relative;
}

.hoverInfo {
	border: 1px solid white;
	background-color: #999999;
	padding: 5px 10px;
	font-size: 12px;
}

.hoverInfo span {
	color: #9639AD;
}

#slider p {
	color: white !important;
	font-size: 18px;
}